%h1 Listing tracks

%table
  %tr
    %th Name
    %th

  - @tracks.each do |track|
    %tr
      %td= track.name
      %td
        = link_to 'Show', track
        = link_to 'Destroy', track, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Track', new_track_path
