template(name='adminTeamsEdit')
  .anti-modal-box
    .anti-modal-header
      .anti-modal-title Edit team
      .anti-modal-closer &times;
    .anti-modal-body
      +quickForm collection='Teams' schema="TeamsSchema" id='updateTeamForm' doc=team
