- no_select ||= false

%table.tracks
  %tr
    - unless no_select
      %th Own
      %th To buy
    %th
      Name
  - tracks.each do |track|
    %tr
      - unless no_select
        %td
          = check_box_tag "user[track_ids][]", track.id, @user.track_ids.include?(track.id)
        %td
          = check_box_tag "user[track_to_buy_ids][]", track.id, @user.track_to_buy_ids.include?(track.id)
      %td
        = track.name
