%h3
  = @season.try(:name)

- if @user_series.present?
  %p
    = render partial: 'seasons/series', locals: { series: @user_series, users: true }

- else 
  %p
    User series not found for this season
