@import "bootstrap-sprockets";
@import "bootstrap.min.css";

body {
  padding-top: 50px;
}

.series-tracks {
  input {
    margin: 0;
    padding: 0;
    border: none;
    max-width: 22px;
    background: transparent;
    text-align: center;
    font-weight: bold;
  }
  .week {
    width: 106px;
    font-size: 12px;
  }
  .name {
    width: 315px;
    font-size: 13px;
  }
  td {
    padding: 1px 2px !important;
    vertical-align: middle !important;
  }
  .bold {
    font-weight: bold;
  }
  .duration {
    text-align: right;
    width: 60px;
    font-size: 13px;
  }
  .green {
    background-color: #009900 !important;
    color: black;
  }
  .yellow {
    background-color: #CCCC00 !important;
    color: black;
  }
  td.yellow, td.green {
    text-align: center;
    border-left: solid 1px white;
  }
}
