%h1 Listing series

%table
  %tr
    %th Name
    %th Season
    %th

  - @series.each do |series|
    %tr
      %td= series.name
      %td= series.season.name
      %td
        = link_to 'Show', series
        = link_to 'Edit', edit_series_path(series) if series.season.active?
